.button {
    --button-border:     config('colors.grey-light');
    --button-bg:         config('colors.transparent');
    --button-text:       config('colors.grey-darker');

    @apply .no-underline .font-semibold
           .border .rounded .px-6 .py-3 .ms-sm .uppercase .tracking-wide;

    border-color:     var(--button-border);
    background-color: var(--button-bg);
    color:            var(--button-text);
}

.button[disabled] {
    @apply .opacity-50;
}

.button:hover {
    --button-border: config('colors.grey-dark');
    --button-text:   config('colors.grey-darkest');
}

.button.-primary {
    --button-bg:     config('colors.blue');
    --button-border: config('colors.blue');
    --button-text:   config('colors.white');
}

.button.-primary:hover {
    --button-bg:     config('colors.blue-dark');
    --button-border: config('colors.blue-dark');
}

.button.-outline {
    --button-text: var(--button-border);
    --button-bg:   config('colors.transparent');
}

.button.-outline:hover {
    --button-bg:   var(--button-border);
    --button-text: config('colors.white');
}
